    {% extends "Pokemons/BasePokemon.html.twig"%} 
      {% block contenido %}  
            <h2>Listado de Pokemons </h2>
            {% for mensaje in app.flashes("success")  %}
            <p>{{ mensaje }}</p>
             {% endfor %}
    <div class="row row-cols-1 row-cols-md-2">
       {% for pokemon in listPokemon %}
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{pokemon.imagen}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{pokemon.nombre}}</h5>
                        <p class="card-text">{{pokemon.descripcion}}</p>
                        <a href="{{path("getPokemon", {"id": pokemon.id})}}" class="btn btn-primary">Más Info</a>
                        <a href="{{path("editPokemon", {"id": pokemon.id})}}" class="btn btn-primary">Editar</a>
                        <a href="{{path("removePokemon", {"id": pokemon.id})}}" class="btn btn-primary">Borrar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
        {% endblock %}
           